html{height: 100%;background: #EEEEEE;}

.brokerage-wapper{padding: 10px;}

.table{background: white;font-size: 13px;color: #888888;}
.table tbody{width: 100%;}
.table tbody td{padding:15px 5px;}

.tbody tr td{border-bottom: 1px solid #EEEEEE;}
.tbody tr:last-child td{border-bottom: 10px solid #EEEEEE;}

.table tbody tr td:first-child{text-align: left;}
.table tbody tr td:nth-child(2){text-align: right;}

.table tfoot{width: 100%;background: none;}

.head{font-size: 15px;font-weight: bold;color: black;}
.key-point{color: #FF8402;}
.segment{font-size: 10.8px;}

.middle img{display: inline-block; vertical-align: middle;width: 10%;margin-right: 10px;}
.bttn-sure{width: 100%;padding:10px 0px;border-radius: 5px; background: #FF8402;font-size:17px; color: white;}