body{font-size: 12px;}

.account{position: relative; width: 100%;}
.account-wapper{padding: 10px 10px 0px 10px;background: #EEEEEE;}
.account-bar{background: white;margin-bottom: 10px;}
.act-site-bar{position: relative; padding:10px;color:#BCBCBC;}
.lab-address{display: inline-block;width: 50%;color: #676767;}
.asb-locat label{margin-right: 2%;}
.asb-locat label i{font-size: 15px;}
.detail-address{margin-right: 5px; color: #676767;}
.inpt-address{border: 0px;width: 70%;}

.act-way-bar{padding: 10px;border-bottom: 1px solid #d3d3db;}
.pay-way{width: 8%; vertical-align: middle;}
.choice{display:inline-block;float:right; width: 6%;}
.choice:after{
	content:'';
	width: 0;
	height: 100%;
	display: inline-block;
	vertical-align: middle;
}

.next-step-wapper{position: absolute;bottom: 0px; float: left;background: white; width: 100%;}
.ns{float: left;width: 50%;padding: 4px 0px;}
.lab-pay{margin-left: 20px;}
.money{font-size: 17px; color: red;}
.ns-money{padding:12px 0px}
.ns-btn{text-align: center;}
.ns-btn a{display: inline-block; width: 95%;padding: 10px 0px; background: #FF8402;border-radius: 5px;}
